<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BinGr</title>
        <link rel="stylesheet" href = "style.css">
    </head>
    <body>
        <div class = "navbar">
            <div class="navbar-container">
            <a  href="index.html" class = "logo-container"><h1 class="logo">BinGr</h1></a>
                  
            </div>
        </div>
     
    <footer class="site-footer">
        <div class ="container footer-content">
            <p>&copy; 2026 BinGr</p>
            <p>Movie Data from TMDB. Book Data from Google Books</p>
        </div>
    </footer>

    <script src="main.js"></script>
    </body>
</html>
