<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        {% if title %}
            <title>BinGr - {{ title }}</title>
        {% else %}
            <title>BinGr</title>
        {% endif %}
        <link rel="stylesheet" href = "{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
    <header class = "site-header">
        <nav class = "navbar container">
            <a href ="{{url_for('main.home')}}" class = "logo">BinGr</a>
            
            <ul class="nav-links">
                <li><a href="{{url_for('main.home')}}">Home</a></li>
                <li><a href="{{url_for('main.home')}}#discover">Discover</a></li>
                <li><a href="{{url_for('main.home')}}#genres">Genres</a></li>
                {% if current_user.is_authenticated%}
                    <li><a>href ="{{url_for('users.account)}}"</a>Account</li>
                {% endif%}    
            </ul>



        </nav>
    </header>
        
    <main class="main-content">
        <div class="container flash-wrap">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock content %}
    </main>

    <footer class=""site-footer">
        <div class ="container footer-content">
            <p>&copy; 2026 BinGr</p>
            <p>Movie Data from TMDB. Book Data from Google Books</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
