{% extends 'base.html' %}

{% block content %}
<section class="auth-section">
    <div class="wrapper">
        <form method="POST">
            {{ form.hidden_tag() }}

            <h1>Login</h1>

            <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-input", placeholder="Enter email") }}
                    {% for error in form.email.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

            <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-input", placeholder="Enter password") }}
                    {% for error in form.password.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

            <div class="remember-forgot">
                <label>{{ form.remember() }} Remember me</label>
                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
            </div>

            {{ form.submit(class="btn") }}

            <div class="register-link">
                <p>Don't have an account?
                    <a href="{{ url_for('users.signup') }}">Register</a>
                </p>
            </div>
        </form>
    </div>
</section>
{% endblock %}
